/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/*

SITE STYLES

*/

body {
    background-color: #F8F3F5;
    font-family: 'Quicksand', sans-serif;
}
.navbar {
    font-weight: 500;
    height: 60px;
    padding: 0 10px;
}

.logo {
    height: 30px;
    margin-right: 38px;
    width: 168px;
}

.navbar li {
    border-radius: 10px;
    margin-right: 10px;
    padding: 8px 12px;
}

.navbar li.active {
    background-color: #F8F3F5;
}

nav .icon {
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

nav .share-button {
    margin-right: 30px;
}

nav .avatar {
    height: 24px;
    margin-right: 9px;
    width: 24px;
}

.banner {
    background-color: #016FB9;
    border-radius: 10px;
    margin: 28px;
    padding: 16px 34px;
    width: calc(100% - 56px);
}

.banner h3 {
    font-size: 24px;
}

.banner img {
    margin-right: 35px;
}