/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }




:root {
  --main-accent-color: #016FB9;
}

/*

SITE STYLES

*/

body {
    background-color: #F8F3F5;
    font-family: 'Quicksand', sans-serif;
}
.navbar {
    font-weight: 500;
    height: 60px;
    padding: 0 10px;
}

.logo {
    height: 30px;
    margin-right: 38px;
    width: 168px;
}

.logo-mobile {
    display: none;
}

.arrow {
    display: none;
}

.toggle-button {
    display: none;
}

.navbar li {
    border-radius: 10px;
    display: flex;
    margin-right: 10px;
    padding: 8px 12px;
}

.navbar li a {
    align-items: center;
}

.navbar li.active {
    background-color: #F8F3F5;
}

nav .icon {
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

nav .share-button {
    margin-right: 30px;
}

nav .avatar {
    height: 24px;
    margin-right: 9px;
    width: 24px;
}

.banner {
    background-color: var(--main-accent-color);
    border-radius: 10px;
    margin: 28px;
    padding: 16px 34px;
    width: calc(100% - 56px);
}

.banner h3 {
    font-size: 24px;
}

.banner img {
    margin-right: 35px;
}

.banner p {
    font-size: 16px;
}

.large-category {
    margin-bottom: 20px;
}


.large-category img, .medium-category img, .small-category img {
   height: 32px;
   margin-left: 8px;
   width: 15px; 
}

.large-category h4 {
    font-size: 24px;
    margin-left: 8px;
}

.large-card {
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    font-family: Quicksand;
    font-size: 14px;
    text-align: center;
    width: 195px;
    position: relative;
    /*border: 4px solid transparent;*/
}

.large-card.active {
    /*border: 4px solid var(--main-accent-color);*/
}

.large-card.active div {
    background-color: var(--main-accent-color);
    color: white;
}
.large-card.active div::before {
    content: '';
    height: 100%;
    width: 100%;
    border: 4px solid var(--main-accent-color);
    inset: 0;
    position: absolute;
    border-radius: 10px;
}

.large-card img {
    border-radius: 10px 10px 0 0;
    height: 283px;
}

.large-card div {
    height: 32px;
    border-radius: 0 0 10px 10px;
}

.medium-category {
    margin-bottom: 20px;
}

.medium-category h5 {
     font-size: 22px;
     margin-left: 8px;
 }

.small-category h6 {
    font-size: 16px;
    margin-left: 8px;
}

.large-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 18px;
    margin-bottom: 40px;
}

main {
    margin-top: 40px;
    max-width: 1100px;

}

footer {
    height: 60px;
    margin-top: 40px;
}

.medium-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 19px;
    margin-bottom: 40px;
}

.medium-card {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    height: 70px;
    margin-bottom: 10px;
}

.medium-card img {
    border-radius: 10px 0 0 10px;
    width: 90px;
}

.medium-card div {
    background-color: white;
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    padding-left: 10px;
    width: calc(100% - 90px);
}

.medium-card.active div, .small-card.active {
    background-color: var(--main-accent-color);
    color: white;
}

.small-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.small-category {
    margin-bottom: 20px;
}

.small-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    font-size: 14px;
    height: 51px;
    margin-bottom: 10px;
    padding-left: 43px;
    padding-right: 20px;
}

.small-card p {
    line-height: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.small-card p:nth-child(2) {
    margin-top: 5px;
}


/* Rankings */

.page-title {
    margin-bottom: 24px;
}
.page-title h1 {
    font-size: 24px;
    margin-left: 5px;
}

table {
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    width: 512px;
}

table th, table td {
    padding: 10px;
}

th span {
    margin-left: 25px;
}

table img {
    height: 24px;
    width: 24px;
    margin-left: 20px;
    margin-right: 10px;
}

tr {
    border-bottom: 1px solid #d4d4d4;
}

.number {
    height: 24px;
    width: 24px;
}

.number.first {
    background-color: #d7CE05;
}

.number.second {
    background-color: #e1e1e1;
}

.number.third {
    background-color: #e08a25;
}

 td:nth-child(2) {
     width: 30px;
}

@media only screen and (max-width: 1100px) {
    main {
        max-width: 624px;
    }
    .large-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .medium-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .medium-category {
        margin-top: 15px;
    }

    .small-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
    }
}

@media (max-width: 768px) {
    /*mobile nav*/
    .navbar {
        padding: 0 18px;
    }

    .toggle-button {
        display: flex;
    }

    .arrow {
        display: block;
        height: 22px;
        margin-left: 5px;
        width: 22px;
        transform: rotate(180deg);
    }
    button .arrow {
        transform: rotate(0);
    }

    .navbar .logo, .share-button span, .user span {
        display: none;
    }

    .logo-mobile {
        display: block;
        height: 32px;
        width: 15px;
    }

    .navbar ul {
        display: none;
        border-radius: 10px;
        flex-direction: column;
        position: absolute;
        background-color: white;
        top: 10px;
        left: 53px;
    }

    .navbar ul.expanded {
        display: block;
    }

    .navbar ul li.active {
        background-color: transparent;
    }

    .navbar .share-button {
        margin-right: 15px;
    }

}

@media only screen and (max-width: 640px) {
    main {
        max-width: 350px;
    }
    main.ranking {
        max-width: 90%;
    }
    .banner img {
        display: none;
    }
    table {
        width: 100%;
    }
    .large-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .large-card {
        max-width: 170px;
    }
    .large-card img {
        height: 260px;
    }
    .medium-wrapper {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    .small-wrapper {
        grid-template-columns: 1fr 1fr;
        
    }
    .small-card {
        padding-left: 22px;
        padding-right: 8px;
       
    }
  
}
